:root {    
    --social-color: #AFB1B8;
    --bg-color-secondary: #F5F4FA;
    --bg-footer: #2F303A;
    --overlay-color: #188CE8;
}


 $primary-white-color: #F5F5F5;
 $bg-primary-color: #FFFFFF;
 $title-text-color: #212121;
 $accent-color: #2196F3;
 $secondary-white-color: #757575;
 $bg-footer: #2F303A;


 $font-weight-main: 900px;
 $font-weight-contacts: 400px;